body{
    background-image: url("back1.jpg");
    	background-size:cover;
    background-repeat:no-repeat;
	background-attachment:fixed; 
    font-family: 'Source code pro', Calibri, serif;
}

header{
  height:120px;
  background-color: #34495e ;
  border:3px solid #FFD700;
  width:1250px;
  margin:0px auto;
  position: relative;
position: fixed;
}


h1{
    color: #DCDCDC;
	font-size: 60px;
	text-align: center;
}



/*Menu*/
nav{
	
    width: 100%;
    background-color: #34495e; 
	display: flex;
	margin-top: -30px;

}

nav > ul{
	margin: 0px auto;
	padding: 5px;
}

nav > ul > li{
    float: left;
	position: relative;
}

nav > ul > li > a{
    padding: 20px 30px;
	color: #DCDCDC;
}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}


nav > ul::after{
	content: "";
	display: block;
	clear: both;
}


nav li{
	list-style-type: none;	
}

.sumenu{
	display: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav li:hover .sumenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
	
}

.sumenu li{
	border-bottom: 1px solid #DCDCDC;
}

.sumenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #DCDCDC;
	width: 270px;
}

.menu:hover{
border-top: 5px solid #FFFFFF;
background-color: RGBa(149,149,200,0.12);
}

.sumenu li:hover{
background-color: RGBa(149,149,200,0.12);
}

.menu .sumenu{
	background-color: #34495e;
}
	 
/*Menu*/



h2{
	color: #FFD700;
	
}
	
.imageintro
{
     float: left;
	 width: 120px;
	 height: 120px;

}

p
{
	font-style: italic;
	text-align: justify;
}



