body{
    background-image: url("back1.jpg");
    	background-size:cover;
    background-repeat:no-repeat;
	background-attachment:fixed; 
    font-family: 'Source code pro', Calibri, serif;
}

header{
  height:120px;
  background-color: #34495e;
  border:3px solid #FFD700;
  width:1250px;
  margin:0px auto;
  position: relative;
position: fixed;
}


h1{
    color: #DCDCDC;
	font-size: 60px;
	text-align: center;
}



/*Menu*/
nav{
	
    width: 100%;
    background-color: #34495e; 
	display: flex;
	margin-top: -30px;

}

nav > ul{
	margin: 0px auto;
	padding: 5px;
}

nav > ul > li{
    float: left;
	position: relative;
}

nav > ul > li > a{
    padding: 20px 30px;
	color: #DCDCDC;
}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}


nav > ul::after{
	content: "";
	display: block;
	clear: both;
}


nav li{
	list-style-type: none;	
}

.sumenu{
	display: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav li:hover .sumenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
	
}

.sumenu li{
	border-bottom: 1px solid #DCDCDC;
}

.sumenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #DCDCDC;
	width: 270px;
}

.menu:hover{
border-top: 5px solid #FFFFFF;
background-color: RGBa(149,149,200,0.12);
}

.sumenu li:hover{
background-color: RGBa(149,149,200,0.12);
}

.menu .sumenu{
	background-color: #34495e;
}
	 
/*Menu*/



h2{
	color: #FFD700;
	
}
	
.imageintro
{
     float: left;
	 width: 120px;
	 height: 120px;

}

p
{
	color: #FFFFFF;
	font-style: italic;
	text-align: justify;
}



footer {

    flex-shrink: 0;

    border-top: 1px dashed #000;

    width: 100%;

   background-color: #34495e;

    color: #FFFFFF;

}

.content-footer {

    max-width: 1500px;

    margin: 0 auto;

    display: flex;

    justify-content: center;

    align-items: flex-start;

    font-size: 16px;

    padding: 50px 0 100px;

}



.bloc {

    flex-basis: 20%;

    margin: 0 30px;

}



/* contact */

.footer-contact h3,

.footer-services h3,

.footer-schedule h3,

.footer-medias h3 {

    font-size: 22px;

    padding-bottom: 20px;

}



.footer-contact p {

    padding: 5px 0;

}



/* Services */





.services-list,

.schedule-list,

.media-list {

    list-style-type: none;

}

.services-list li {

    padding: 2px 0;

}

.services-list a {

    text-decoration: none;

    color: #FFFFFF;

}

.services-list a:hover {

    color: rgb(3,3,3);

}





/* Medias */



.media-list {

    position: relative;

    right: 10px;

}

.media-list svg {

    width: 30px;

    margin: 10px 10px;

}

.media-list a {

    text-decoration: none;

    color: #FFFFFF;

    display: flex;

    align-items: center;

    font-size: 20px;

}





/* Media queries */



@media screen and (max-width: 1000px) {



    .content-footer {

        max-width: 100%;

        flex-wrap: wrap;

    }

    .bloc {

        flex-basis: auto;

        margin: 20px 20px;

    }





}





@media screen and (max-width: 600px) {

    .content-footer {

        justify-content: center;

        padding-top: 30px;

    }

    .bloc {

        flex-basis: 70%;

        /* margin: 10px; */

    }

    .footer-contact h3,

    .footer-services h3,

    .footer-schedule h3,

    .footer-medias h3 {

        padding-bottom: 5px;

    }



